.home_socials{
    display: flex;
    column-gap: 1.75rem;
    margin: 1.5rem 0;
}

.home_social-link{
    color: var(--title-color);
    font-size: 1.3rem;
    transition: .3s;
   

}

.home_social-link:hover   {
    background-color: antiquewhite;
    cursor: pointer;
}
.intro .btn:hover {
    background-color: blue;
    
}